
<div class="panel panel-body nav_bg shadow">
    <div id="logo">
        <h3 style="float:left; margin-top:5px;"> Portfolio <span class="text-primary font-italic">Jacek&nbsp;Brzeziński</span> </h3>
    </div>

    <ul class="nav nav-pills" >

        <li role="presentation" class=""><a href="{{ url('article_index') }}">Główna strona</a></li>
        <li role="presentation"><a href="{{ url('fos_user_security_login') }}">Zaloguj się</a></li>
        <li role="presentation"><a href="{{ url('fos_user_registration_register') }}">Zarejestruj się</a></li>
    </ul>
    <button  type="button" class="switch btn btn-default btn-sm" >
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
</div>

