{% extends 'base.html.twig' %}



{% block body %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ article.owner.firstName }} {{ article.owner.lastName }}/ {{ article.title }}</h3>
        </div>
        <div class="panel-body">
            sfwfgqwerfg
        </div>



        {{ dump(article.articleItems) }}
    </div>

{% endblock %}