<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="php, symfony, cakephp, delphi ">
    <meta name="description" content="Programista symfony, Programista php, Portfolio Jacek Brzeziński">
    <title>{% block title %}Portfolio Jacek Brzeziński!{% endblock %}</title>
    <link rel="stylesheet" href="{{ pathToWeb }}/css/pdf.css" />
</head>
<body>

<h2 class="doc-title">Test Pdf generator</h2>
    {% for article in articles %}
        {% if article.pdf %}
            <h3 class="art-title" >{{ article.title }}</h3>
            <div class="art-content">
                {{ article.content | raw }}
            </div>
        {% endif %}
    {%  else %}
        {{ include('emptyArticleIndex.html.twig',{ 'article': article}) }}
    {% endfor %}

</body>