<!-- Modal -->
<div id="dialog-form" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                 {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> #}
                <h4 id="headerBlock" class="modal-title">TYTUł</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
    <div class="modal-message">
        dd
    </div>
</div>