body{
    background-color: #444;
    font-family: 'Raleway', sans-serif !important;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

#logo h3 a {
    text-decoration: none;
    color:#444;
}
.logo-symf {
    position: absolute;
    top: 20px;
    right: -60px;
}
.nav_bg {
    background-color: #f5f5f5;
}

.nav > li > a {
    color:#444;
}

.nav > li > a.active {
    color: #444 !important;
}

.nav > li > a:hover {
    color: #eee !important;
    background-color: #444 !important;
}

.visible {
    display:block !important;
}
.footer  {
    border-color: #F5F5F5;
    color:#F5F5F5;

}
#logo span{
    font-style: italic;
}
.box {
    height:200px;
    overflow-x:auto;
}
.shadow {
    box-shadow: 10px 10px #333;
}
.foo-link {
    top: -10px;
    position: relative;
}
.alert-center {
    position:absolute;
    z-index: 500;
    top:50%;
    left:50%;
    margin:-100px 0 0 -100px;
    width:400;
    height:auto;
    _display: none;
}
.btn-space {
    margin-right: 5px;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* -----------MENU SWITCH -----------*/
.switch {
    display: none;
    background-color: #5b81ae;
    color: #fff;
    _padding: 5px 15px;
    float: right;
    font-size: 1.4em;
    text-decoration: none;
}

/*----------- MAX WIDTH 1024 --------*/
@media screen and (max-width: 1024px) {

}

/*----------- MAX WIDTH 990 ---------*/
@media screen and (max-width: 990px) {


    #logo {
        display:flex;
        width: 100%;
    }
    .box {
        height:auto;
    }

}

/*----------- MAX WIDTH 480 ---------*/
@media screen and (max-width: 480px){

    .nav li {
        display: block;
        width: 100%;
    }
    .logo-symf {
        display: none;
    }
    .switch {
        display: block;
        position: absolute;
        top: 30px;
        right: 25px;
        border: 1px dotted;
    }
    .nav {
        display: none;
    }


}

